[MQTT]
host = <MQTT Host>
topic  = <Topic Prefix>

[Backlight]
timeout = 30
brightness = 128

[Thing:name]
name =
type = TASMOTA Simple | TASMOTA WS2812
topic =
posX =
posY =
color_on = "green"
color_off = "red"
color_neutral = "grey"

[Shelly:name]
topic =
icon =
posX =
posY =

[WifiRepeater]
topic =
type = TASMOTA Simple | TASMOTA WS2812

[Player]
topic =

[Environment]
temperature =
humidity =
air_quality =